
@import url('https://fontawesome.com/v5.15/icons/palette?style=solid');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Chakra Petch', sans-serif;
 scroll-behavior: smooth;
  }
  

body{
        display:flex;
        flex-direction:column;
 }

 header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#eeddd2;
    height:10vh; 
    padding: 0 20px;
    color:#263238;

}

header .logotipo{
    display: flex;
    gap:20px;
    align-items: center;
}

header .logotipo img{
    width:50px;
    height:50px;
}

nav{
    display: flex;
    align-items: center;
    justify-content:center;
}

nav .btnCerrar{
    display: none;
}

nav.show{
    display: inline-flex;
}


nav ul{
    display: flex;
    gap:20px;
    text-decoration: none;
}

nav li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav li a{
     padding:0;
     font-size: 1.4em;
     font-weight: bold;
     /* color:#95755E ; */
     color:#263238;
     text-decoration: none;

}

.imagen{
    height: 100%;
    width: 100%;
  }


.fondo-1{
       height:100%;
       width:100%;
       position: relative;
       display: flex;
       align-items:center;
       justify-content:space-between;

    }

.menu{

        height: 95%;
        position: fixed;
        top: 58px;
        right: -100vw;
        width: 100%;
        margin: 0;
        background-color: #111418;
        transition: all 1s;
        z-index: 1;
        list-style:none;
    }
    

.fondo {
    height: 100%;
    background-image: url(../imagen/rania.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
}
.hero-content a {
 text-decoration: none;
 color:black;
 font-size:23px;
 background-color:white;
 border-radius:5px;
 padding:5px 10px;
 

} 
.btnBuscarr{
    display: none;
}

.hero-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin: auto;

}   


.blanco{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 84%;
    margin: auto;
}

.izquierda{
    display: flex;
    
    flex-direction: column;
    
    width: 50%;
    
    
}

.derecha{
    display: flex;
    justify-content: flex-end;
    gap:20px;
    align-items:center;
    width:50%;
}

.fotografia{
    width: 80%;
    height: 80%;
    object-fit:cover;
}
.todas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.retrato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.paisaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.deporte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.enlace ul div hr{
    width: 0%;
    transition:width 0.5s ease;
}
.enlace ul div:hover > hr{
    
    width: 100%;

}

.titulo{
    display:flex;/*para ponerlo en linea*/
}
.subtitulo-portada{
    font-size:45px;
    
}
.titulo-portada{
    font-size:2.5em;
    text-align: center;
}
.section-title{
    width:100%;
    text-align:center;
    position: relative;
}
.texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
   
}
.texto article p{

    font-size: 1.8em;
    text-align: justify;
    line-height: 1.3
}

.texto article .nombre{

    color: #1DAD83;
}




.texto article h1{

    font-size: 22px;

}

.texto h2{
    display:flex;
    width:80%;
    
}
 
.nombre{
    display:flex;
    flex-direction:column;

}

.h2{
    display:flex;
    justify-content:space-between;
    justify-content: center;
    align-items: center;
}







    .menu-burguer{
        
    display:block;
    width:20px;
    height:20px;
    color:#747474;
    text-align:center;
    } 

    .ico{
    
          width:20px;
          height:20px;
          margin:10px;
          margin: 0 10px;
   
    }
    


   
   .redes-sociales{
   color:#747474;
    }
    

    

    .header-title{
       display:inline-flex;

    }
     
     .menu-burguer{
        display: inline-flex;
        width:40px;
        height: 30px;
        color:white;
    
    } 

  


.hero-subtitle-1{
    color:black;
    position: absolute;
    top:3;
    width:100%;
    height:100%;
    font-size:34px;

}


.section-content{
    
    display:flex;
    gap:20px;
    justify-content:center;
    align-items:center;
}

.section-content .presentacion h2{
    font-size: 2em;
    margin-bottom: 10px;
}

.section-content .presentacion p{
    font-size: 1.8em;
    line-height: 1.3;
}

.section-content .presentacion .parrafo{
    margin-bottom: 10px;
    text-align: justify;
}




.botton{
    display:flex;
    
    align-items:center;

    
}

.hero-button-1:hover{
    display:flex;
    background-color:cyan;  
}


.hero-button-1:hover {
    background-color: cyan;
    border: 1px solid cyan;
}
.hero-button-1 {
    margin:10px;
    color:black;
    border: 1px solid #29A598;
    padding: 0.9375rem 1.875rem;
    font-family: "Monserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer; 
    text-align:center;
    border-radius:30px;
    

}

.hero-subtitle-2{

    display: flex;
    justify-content: center;
    gap: 5em;
    text-align: center;
  
}

.hero-subtitle-2 h1{
     
    font-weight: bold;
    font-size: 40px;
    color: #A5A5A5;
}

.hero-subtitle-2 h3{

    font-weight: lighter;
    font-size: 22px;
    color: #A5A5A5;
}


.iasmina-img{
display:none;
}

.section-title{
    width:100%;
    text-align:center;
    position: relative;
}

.skills-contenedor{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:50px;
}

.skills{
width:40%;
}
.progess-bar{
background-color:#DCE1E1 ;
height:34px;
}
.relleno{
background-color:#17F1E4 ;
width:34%;
height:100%;
}
.relleno1{
background-color:#17F1E4 ;
width:49%;
height:100%;
}

.relleno2{
background-color:#17F1E4 ;
width:50%;
height:100%;
}

.relleno3{
background-color:#17F1E4 ;
width:20%;
height:100%;
}

.relleno4{
background-color:#17F1E4 ;
width:10%;
height:100%;
}

.relleno5{
background-color:#17F1E4 ;
width:59%;
height:100%;
}




.hero-button:hover{
    display:flex;
    background-color:cyan;  
}


.hero-button:hover {
    background-color: cyan;
    border: 1px solid cyan;
}



.hero-button{
    color:black;
}


.section-title{
   
    text-align:center;
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
}


.hero-button:hover{
    display:flex;
    background-color:cyan;  
}


.hero-button:hover {
    background-color: cyan;
    border: 1px solid cyan;
}



.hero-button{
    color:black;
}


.section-title{
   
    text-align:center;
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
}


.contenedor{
  
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  align-items: center;
  justify-content: space-between;
  
}


article:hover > h1{
    opacity:1;
}

dialog{
    width:80%;
    height:80%;
    margin:auto;
    border:0;
}
.contenidoDialog{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    
}
.contenidoDialog img{
    
    height: 80%;
    width: 400px;
}
.galeria{
    width:84%;
    margin:auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.contenedor article{
    width:calc(100%/2 - 20px);
    height: 420px;
    background-size: cover;
    background-position: center top;


}

.contenedor article div{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
}

.contenedor article div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#imagenGrande span{
    position: absolute;
    right:10px;
    top: 10px;
}
.enlace ul li{
    list-style: none;
    display: flex;
    cursor:pointer;
    
}
.enlace ul{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}



.contenedor article div:hover > img{
    
    transform: rotate(10deg) scale(1.3);
    
}


/*.contenedor article:nth-child(1){
    
    
    background-image: url("../imagen/retratos (1).jpg");
}*/

.contenedor article:nth-child(2){
   
    
    background-image: url("../imagen/paisajes (2).jpg");
}

.contenedor article:nth-child(3){
    
    
    background-image: url("../imagen/deportes (1).jpg");
}

.contenedor article:nth-child(4){
    
    
    background-image: url("../imagen/retratos.jpg");
}

.contenedor article:nth-child(5){
   
    
    background-image: url("../imagen/paisajes (3).jpg");
}
.contenedor article:nth-child(6){
    background-size: cover;
   
    background-image: url("../imagen/deportes (3).jpg");
}

.contenedor article:nth-child(7){
    
    background-image: url("../imagen/retratos (3).jpg");
}
.contenedor article:nth-child(8){
    
    background-image: url("../imagen/paisajes.jpg");
}
.contenedor article:nth-child(9){
    
    background-image: url("../imagen/deportes (4).jpg");
}
.contenedor article:nth-child(10){
    
    background-image: url("../imagen/retratos (4).jpg");
}
.contenedor article:nth-child(10){
    
    background-image: url("../imagen/retratos (4).jpg");
}
.contenedor article:nth-child(11){
    
    background-image: url("../imagen/paisajes (1).jpg");
}
.contenedor article:nth-child(12){
    
    background-image: url("../imagen/deportes (2).jpg");
}

.practicas{
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89%;
    padding: 36px;
    margin-left: 6vw;
    margin-top: 1vh;
}
 .formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 50px;
}
.informacion{
    display: flex;
    gap:8px;
    flex-direction: column;
}
#cuadro{
    height: 203px;
}
.campos-formulario{
    font-size:23px;
}
.nombre{
    height: 30px;
    width: 100%;
}
.email{
    height: 30px;
    width: 70%;
}
.textarea{
    height: 30px;
    width: 50%; 
}
.datospersonales{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.direccion{
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size:23px;
}
p{
    font-size:14px;   
}
.numero{
   display: flex;
   gap: 10px;
   flex-direction: column;
   font-size:23px;
}

.correo{
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size:23px;
}
.contenido-formulario{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.barras{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.email{
    height: 30px;
    width: 100%;
    
}
.titulo {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 29px;
}


.section-title {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo hr {
    position: absolute;
    margin-top:30px;
    width: 10%;

}








.section-title {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

main {
    height: 95vh;
}

.hombre-img {
    display: flex;
    height: 90px;
    width: 90px;
    align-items: center;
   
    clip-path: circle(50%);
    object-fit: cover;
     object-position: -39px 20%;

}

.imagen{
display: flex;
gap:20px;
align-items:center;
}

.nombress{
display:flex;
flex-direction:column;

}

.texxto{
padding:10px;
}

.estrella{
display:flex;
gap: 10px;


}

.estrella i:hover{
 display:flex;
color:cyan; 
} 




.estrella i{
width:30px;
height:30px;
}

.section-title{
    width:100%;
    text-align:center;
    position: relative;
}


.hero-buttonn{
    color: white;
    background-color: #95755E;
    border: 1px solid #ccc;
    border-radius: 8px 8px 8px 8px;
    padding: 5px;
    display: inline-block;
    margin-top: 20px;
}
.barradenavegacion{
    display: flex;
    align-items: center;
    padding: 4px;
}

.barradenavegacion i{
    display: none;
    font-size: 1.2em;
}



.contenido-formulario{

    max-width:750px;

}

.dudas textarea{

    width:100%;
    height: 203px;

}
.contenedor article{
    width: calc(100%/3 - 20px);
}

@media screen and (max-width: 1000px){

    nav{
        display:none; 
        background-color:#eeddd2;
        position: absolute;
        height: 100vh;
        width: 100vw;
        top: 0px;
        left: 0px;
    }
    nav .btnCerrar{
        display: inline-flex;
        position: absolute;
        top:10px;
        right:10px;
        font-size: 1.2em;
        font-weight: bold;

    }
    nav ul{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .barradenavegacion{
        gap:20px;
    }



    .barradenavegacion .btnBuscar{
        display: none;
    }

    .barradenavegacion i{
        display: inline-flex;
    }
    
    .barradebusqueda{
        background-color: #11ddd2;
        width: 100%;
        height: 10vh;
        position: absolute;
        top: 10vh;
        left: 0px;
        display: none;
        
    }

    .barradebusqueda i{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left:10px;/*para bajar el elemento*/
        
    }

    .barraContent{
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btnBuscarr{
        height: 100%;
        width: 100%;
        display: inline-flex;
        padding-left:44px;
        font-size: 1.8em;

    }
    .izquierda{
        width:90%;
    }

    .derecha{

        justify-content: center;
    }

    .contenedor article{
        width: calc(100%/2 - 20px);
    }

}



@media screen and (max-width: 1180px){

    body{
        flex-direction:column;
    }
     
    .menu{

        height: 95%;
        position: fixed;
        top:87px;
        right: -100vw;
        width: 100%;
        margin: 0;
        background-color: #111418;
        transition: all 1s;
        z-index: 1;
        list-style:none;
    }
    
    .aparece{
        display: inline-flex;
    }

    .menu-burguer{
        
    display:block;
    width:20px;
    height:20px;
    color:#747474;
    text-align:center;
    } 

    .ico{
    
          width:20px;
          height:20px;
          margin:10px;
          margin: 0 10px;
   
    }
    
    .subtitulo-portada{
        font-size:45px;
        text-align: center;
    }

   
    .redes-sociales{
    color:#747474;
    }
    

    .fondo-1{
       height:100%;
       width:100%;
       position: relative;

       display: flex;
       align-items:center;
       justify-content:space-between;

    }

    .header-title{
       display:inline-flex;

    }
     
     .menu-burguer{
        display: inline-flex;
        width:40px;
        height: 30px;
        color:white;
    
    } 

   .iasmina-img{
        display:none;
   }

   .hombre-img {
        display: flex;
        height: 90px;
        width: 90px;
        align-items: center;
    
        clip-path: circle(50%);
        object-fit: cover;
        object-position: -39px 20%;

    }

    .nombress{
    display:flex;
    flex-direction:column;

    }

    .texxto{
    padding:10px;
    }

    .contenido-formulario{

        width:60%;
    
    }


    .practicas{
        
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        width: 89%;
        padding: 36px;
        margin-left: 6vw;
        margin-top: 1vh;
    } 

}    


@media screen and (max-width: 594px){
    body{
        flex-direction:column;
    }
    .contenedor article{
        width:100%;
        height: 420px;
        background-size: cover;
        background-position: center top;
    }

    
    .practicas{
        
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
        width: 89%;
        padding: 36px;
        margin-left: 6vw;
        margin-top: 1vh;
    }
    .inframe{
        display: flex;
        flex-wrap:wrap; 
    }
    .menu{

        height: 95%;
        position: fixed;
        top:87px;
        right: -100vw;
        width: 100%;
        margin: 0;
        background-color: #111418;
        transition: all 1s;
        z-index: 1;
        list-style:none;
    }
    
    

    .menu-burguer{
        
    display:block;
    width:20px;
    height:20px;
    color:#747474;
    text-align:center;
    } 

    .ico{
    
          width:20px;
          height:20px;
          margin:10px;
          margin: 0 10px;
   
    }
    
    .subtitulo-portada{
        font-size:45px;
        text-align: center;
    }

   
    .redes-sociales{
    color:#747474;
    }
    

    .fondo-1{
       height:100%;
       width:100%;
       position: relative;

       display: flex;
       align-items:center;
       justify-content:space-between;

    }

    .header-title{
       display:inline-flex;

    }
     
     .menu-burguer{
        display: inline-flex;
        width:40px;
        height: 30px;
        color:white;
    
    } 
    
   .iasmina-img{
        display:none;
   }

   .hombre-img {
        display: flex;
        height: 90px;
        width: 90px;
        align-items: center;
    
        clip-path: circle(50%);
        object-fit: cover;
        object-position: -39px 20%;

    }
    .blanco{
        display: flex;
        flex-wrap: wrap;
    }
    .contenedor{
        display: flex;
        flex-wrap: wrap;
    }
    .nombress{
        display:flex;
        flex-direction:column;
    }

    .texxto{
    padding:10px;
    }
    .mapa iframe{
        max-width:80vw;
    }

    .texto{
        font-size: 10px;
    }
    .presentacion{
        font-size: 10px;
    }
    
    .presentacion p {
        display: flex;
        flex-wrap: wrap;
        text-align: 10px;
        
    }

    .contenido-formulario{

        width:60%;

    }
    
}    




